# Entorno Virtual
.venv/
venv/
env/

# Variables Sensibles
.env

# Archivos de sistema y Python
__pycache__/
*.py[cod]
.DS_Store
.vs/

# Railway
railway.json

# Archivos de registro
*.log

# Tests
test-reports/
coverage.xml
*.cover

# Editores
.vscode/
*~
*.bak
*.tmp
