# Orchestration & Agents
langchain
langchain-openai
langgraph
langserve[all]

# Data Processing
pypdf
langchain-community
langchain-text-splitters
tiktoken
typing_extensions

# Vector Store
faiss-cpu

# Web Scraping & Sitemap Parsing
beautifulsoup4
lxml
requests

# Web & API
fastapi
uvicorn
python-dotenv